[Unit]
Description=QuickNotes service
After=network-online.target
Wants=network-online.target

[Service]
User={{ qn_user }}
Group={{ qn_user }}
WorkingDirectory={{ qn_data_dir }}
Environment=ADDR={{ listen_addr }}
Environment=DATA_PATH={{ data_path }}
Environment=SEED_PATH={{ seed_path }}
ExecStart={{ qn_bin }}
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
